@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", serif;
    cursor: pointer;
}

body {
    background: #A6A6A6;
    height: 100vh;
    width: 100vw;
}

h1 {
    margin: 0 20px;
    cursor: pointer;
}

.conteiner-header {
    display: flex;
    padding-top: 20px;
    gap: 30px;
    align-items: center;

}

header {
    border: 2px solid rgb(95, 92, 92);
}

.link-header {

    font-size: 20px;
    color: black;
    text-decoration: none;
   

}

a:hover {
    opacity: .6;
    transition: 1s ease-out;
}

a:active {
color: rgb(190, 190, 190);
}



div {
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    ALIGN-ITEMS: center;
    gap: 10px;
}

h2 {
    font-size: 50px;
}

img {
    width: 1000px;
}

p {
    font-size: 14px;
    width: 428px;
    text-align: center;

}

button {
    margin-top: 35px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: black;
    color: #e9e7df;

}

button:hover {
    opacity: .7;
    transition: 1s;
}

button:active {
    opacity: .5;
}


.fundo-transparente {

    width: 100vw;
  
    height: 100vh;
    background: linear-gradient(177deg, rgb(36 63 115 / 35%) -56%, rgb(18 65 158 / 13%) -7%, rgb(19 65 144 / 46%) 179%);
   visibility: hidden;
    top: 0;
    position: fixed;
    transition:  1s ease-in-out;
    height: 100%;
    width: 100%;
} 


.img-zap {
    width: 105px;
    z-index: 1000;
}

.zap {
    position: fixed;
    right: 0;
    padding-right: 20px;
  

}




.fale-conosco{
    background: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 117px;
    left: -50%;
    padding: 20px;
    align-items: center;
    gap: 10px;
    border-radius: 13px;
    transition: left 1s ease-in-out;


}

input{
    height: 40px;
}




@media screen  and (max-width:800px){

    img{
        width: 400px;
    }
    p{
        width: 368px;
    }

    nav{
        height: 25%;
    }

}



@media screen  and (max-width:800px){

    img{
        width: 400px;
        margin: 0 auto;
    }
    p{
        width: 368px;
    }

    nav{
        height: 25%;
    }
    
    header{
        border: none;
    }

}

